---
const { title, body } = Astro.props;
---

<div class="container px-6 py-4">
  <div class="border-dotted border-2 border-neutral rounded-md p-4">
    <h3 class="text-xl text-base-content font-medium">
      {title}
    </h3>
    <div class="px-2">
      <p>
        {
          body.map((song: unknown) => {
            return (
              <a
                class="link link-hover link-primary pr-4 py-2 text-md inline-block"
                href={"lyrics/" + title + "/" + song}
              >
                {song}
              </a>
            );
          })
        }
      </p>
    </div>
  </div>
</div>
