---
import type { GetStaticPaths } from "astro";
import songList from "../../assets/songList.json";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = (() => {
  let rtnList = [];

  songList.map((category) => {
    category.song.map((song) => {
      rtnList.push({ params: { lyric: category.category + "/" + song } });
    });
  });
  console.log(rtnList);
  return rtnList;
}) satisfies GetStaticPaths;

const { lyric } = Astro.params;
---

<Layout title="Lyrics">
	<main>
        <div>
            {lyric}
        </div>
    </main>
</Layout>
