---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import songList from "../assets/songList.json";
---

<Layout title="中洲ユウの歌詞置き場">
  <main>
    <div class="md:pt-8"></div>
    <div class="md:w-4/5 bg-base-100 mx-auto rounded-md">
      <h1 class="text-3xl font-semibold p-4 text-base-content">中洲ユウの歌詞置き場</h1>
      {
        songList.map((category) => {
          return <Card title={category.category} body={category.song} />;
        })
      }
    </div>
	<div class="md:pt-8"></div>
  </main>
</Layout>
