---
import type { GetStaticPaths } from "astro";
import songList from "../../../assets/songList.json";
import Layout from "../../../layouts/Layout.astro";
import LyricBox from "../../../components/LyricBox.astro";

export const getStaticPaths = (() => {
  let rtnList = [];

  songList.map((category) => {
    category.song.map((song) => {
      rtnList.push({ params: { category: category.category, lyric: song } });
    });
  });
  return rtnList;
}) satisfies GetStaticPaths;

const { category, lyric } = Astro.params;

const lyricsFiles = await Astro.glob("../../../assets/lyrics/*/*.md");
let content = "";
lyricsFiles.map((lyricsFile) => {
  if (lyricsFile.file.endsWith(category + "/" + lyric + ".md")) {
    content = lyricsFile.rawContent();
  }
});
---

<Layout title={lyric}>
  <main>
    <div class="md:pt-4"></div>
    <div class="md:w-4/5 mx-auto mb-2 hidden md:block">
      <a href="/lyrics" class="link link-accent">← Topへ戻る</a>
    </div>
    <div class="md:w-4/5 bg-base-100 mx-auto rounded-md p-4">
      <div class="mb-2 block md:hidden">
        <a href="/lyrics" class="link link-accent">← Topへ戻る</a>
      </div>
      <div class="p-2">
        <h2 class="font-medium text-xl">
          {lyric}
        </h2>
        <div class="divider"></div>
        <p class="px-4 leading-7 tracking-wide">
          <LyricBox text={content.split(/\r\n|\r|\n/g)} />
        </p>
      </div>
    </div>
    <div class="md:pt-8"></div>
  </main>
</Layout>
